@media screen and (max-width:1000px) {
    .cardhasfj h2 {
        font-size: 25px !important;
    }

    .cardhasfj p {
        font-size: 17px !important;

    }
}

/* className='sahdf' */
@media screen and (max-width:850px) {
    .cardhasfj {
        flex-direction: column;
    }
.close800{
    display: none !important;
}
    .zodiacSing img {
        height: 100% !important;
    }

    .zodiacSing div {
        width: 30%;
        aspect-ratio: 1;
    }

    .sahdf {
        order: 1 !important;
    }
}
@media screen and (max-width:350px) {
    .zodiacSing div {
        min-width: 80px;
    }
}
