@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-white: #f1f5f9;
    --white: #fff;
    --cta-white: #eceff2;
    --bg-dark: #0f182a;
    --dark: #1e293b;
    --cta-dark: #384455;
    --dark-text: var(--dark);
    --dark-active: var(--bg-dark);
    --dark-inactive: var(--cta-dark);
    --white-text: var(--white);
    --white-active: var(--bg-white);
    --white-inactive: var(--cta-white);
    /* --yellow: #f4d35e; */
    --yellow: #efd500;
    --bg-yellow: #fff4cc;
    --cta-yellow: #ffc800;
}

input {
    border: none;
    opacity: none;
    padding: 8px 12px;
    font-size: .9rem;
}

.btn {
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex
}

.wrapper.login {
    background-color: var(--bg-yellow);
    align-items: center;
    justify-content: center;

}

.loginForm {
    background-color: var(--yellow);
    width: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 2px 10px #1e293b82;
}

.loginTop {
    color: var(--dark);
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px;
    background-color: var(--cta-yellow);
    border-bottom: 1px solid var(--dark);

}

.authLogin {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.authLogin label {
    color: var(--dark);
    font-size: 1.2rem;
}

.authLogin input {
    border-radius: 5px;
    border: 1px solid var(--dark);
    font-weight: 600;
}

.authButton {
    margin: 20px;
    margin-top: 0px;
    background-color: var(--bg-dark);
    width: 100px;
    color: var(--bg-white);
    transition: all .08s ease-in;
}

.authButton:hover {
    background-color: var(--cta-dark);
}





.sideBar {
    width: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--cta-white);
    height: 100vh;
    background-color: var(--white);
    transition: all .2s ease;
}

.sideBar.active {
    width: 300px;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo h1 {
    font-size: 1.5rem;
}

.routes {
    background-color: var(--yellow);
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.routes::-webkit-scrollbar {
    display: none;
}

.rotes {
    background-color: var(--bg-white);
    margin: 10px 20px;
    border-radius: 6px;
    align-items: center;
    padding: 10px 20px;
    color: var(--dark);
    gap: 10px;
    display: flex;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-right: 3px transparent;
    position: relative;
}

.rotes.close {
    margin: 10px;
    padding: 9px 12px;
}

.rotes:hover {
    background-color: var(--bg-yellow);
}

.rotes .icon {
    color: var(--dark);
}

.rotesText {
    font-size: 1.2rem;
    font-weight: 600;
}

.rotes.subRotes {
    align-items: flex-start;
    flex-direction: column;

}

.rotes.subRotes .rotesText {
    width: 160px !important;
}

.rotesItem {
    display: flex;
    gap: 10px;
    align-items: center;
}

.subRote {
    position: relative;

}

.rotesIcon {
    background-color: var(--cta-yellow);
    height: 25px;
    aspect-ratio: 1 !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.page {
    flex: 1;
    background: var(--bg-yellow);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.pageTop {
    background: var(--white);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}

.pageTopSearch {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px
}

.pageTopSearch input {
    border: none;
    outline: none;
    width: 100%
}

.searchResult {
    display: none;
}

.pageTopSearch input:focus~.searchResult {
    display: block;
}

.pageTopRight {
    display: flex;
    align-items: center;
    gap: 20px
}

.pageTopRight button {
    background-color: none;
    border: 2px solid var(--dark-active);
    outline: none;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 6px
}




.recharts-legend-wrapper {
    top: -10px !important;
}

@media screen and (max-width:900px) {
    .mobile {
        position: absolute;
        z-index: 30;
    }

    .mobileBack {
        display: block !important;
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-color: rgba(16, 26, 46, 0.26);
        z-index: 20;
    }
    .chartTitle{
        top: 0px !important;
    }
    .recharts-legend-wrapper {
        top: -27px !important;
    }
    .dashboard, .pageTop{
        width: 823px;
    }
    .page{
    overflow-x: scroll;
    }
}
/* .fs-7{
    font-size: 0.8rem!important;
} */