.banner {
    max-width: 100vw;
    position: relative;
    overflow-x: hidden !important;
    height: 100vh;
    max-height: 700px;
    background: url("./banner/two.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 10;
}

.banner::after {
    content: "";
    background: linear-gradient(18deg, rgba(56, 2, 99, 0.2063200280112045) 0%, rgba(0, 0, 0, 1) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 20;
}

.main {
    position: absolute;
    top: 100px;
    bottom: 0px;
    height: min-content;
    left: 0px;
    right: 0px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;
    margin: auto;
}

.main h1,
.main span {
    font-size: 3rem;
    color: white;
    width: 50%;
    min-width: 500px;
}

.main span {
    color: var(--yellow);
    font-weight: 600;
}

.main p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 70%;
    min-width: 750px;
}

.main a {
    background-color: var(--yellow);
    padding: 6px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 6px;
    margin-top: 20px;
}

.main a:hover {
    color: var(--bg-white);
}

@media screen and (max-width:800px) {
    .main h1 {
        width: auto;
        min-width: auto;
        margin: 0px 5%;
    }

    .main span,
    .main h1 {
        font-size: 2.5rem;
    }

    .main p {
        font-size: 1.2rem;
        width: auto;
        min-width: auto;
        margin: 0px 5%;

    }
}

@media screen and (max-width:720px) {
    .banner {
        max-height: 100vh;
    }
}

@media screen and (max-width:530px) {

    .main h1,
    .main span {
        font-size: 2.2rem;
    }

    .main p {
        font-size: 1rem;
    }

    .main a {
        font-size: 1rem;
    }
}