
.isOpen.profileSide{
    height: calc(100% - 93px) !important;
}
@media screen and (max-width:1050px) {
    .blogpage {
        flex-direction: column;
    }

    .left {
        flex: none !important;
        height: auto !important;
    }

    .rightC {
        margin: 0 !important;
        flex: 1;
        min-width: 440px;
    }

    .right {
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: row !important;
        max-width: 100% !important;
    }
}

@media screen and (max-width : 700px) {
    .blogImage {
        width: 30% !important;
        height: auto !important;
        aspect-ratio: 16 / 9;
    }

    .blogCon {
        height: auto !important;
    }
}

@media screen and (max-width :450px) {
    .shfjsd{
        flex-direction: column;
    }
}
@media screen and (max-width :450px) {
    .rightC {
      
        min-width: 100%;
    }
}