header {
    background-color: var(--primary);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}

.navServices {
    position: relative;
    padding: 10px 0px;
}


.react-multiple-carousel__arrow{
    opacity: 0.5 !important;
}
.navServicesUl {
    position: absolute;
    top: 90px;
    flex-direction: column;
    width: 180px;
    gap: 1px;
    background-color: rgba(128, 128, 128, 0.397);
    box-shadow: 0px 2px 10px 1px rgba(128, 128, 128, 0.349);
    display: none;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.navServices>span {
    color: var(--bg-dark);
}

.navServices:hover>span {
    color: var(--secondary);
}

.navServices:hover>.navServicesUl {
    display: flex;
    opacity: 1;
}

.navServicesUl>li {
    list-style: none;
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 100%;
    transition: all 0.1s ease-in-out;
}

.navServicesUl>li:hover {
    background-color: var(--secondary);
    color: var(--cta);
}

.navLeft {
    padding: 10px;
    cursor: pointer;
    overflow: visible;
}

.navLeft.open {
    /* background-color: var(--yellow); */
    background-color: #F5B041;
    border-bottom: 2px solid rgb(122, 100, 100);

}

.navLeft.close {
    display: none;
}

.barIcon {
    display: none;
    color: white;
}

.navLogo {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--dark);
    transition: all 0.3s ease-in;
}

.navLogo:hover {
    transform: scale(1.1);
}

.navCenter {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
    display: none;
}

.navCenter.right {
    display: flex;
}

.navCenter div {
    color: var(--secondary);
    cursor: pointer;
    transition: all 0.09s ease-in-out;
}

.navBtnBox {
    display: flex;
}

.navBtn {
    cursor: pointer;

}

.navBtn:hover>a {
    color: var(--gray);
}

.navBtn>a {
    padding: 10px 25px;

}

.navLogin>a {
    color: var(--secondary);
}

.navSingin>a {
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 3px;
}

@media screen and (max-width:930px) {
    .navSingin {
        display: none;
    }
}

@media screen and (max-width:750px) {
    .navCenter.right {
        display: none;
    }

    .navCenter {
        position: absolute;
        background-color: white;
        height: 100vh;
        top: 0;
        left: 0;
        flex-direction: column;
        transition: all .2s ease-in;
        z-index: 30;
        display: flex;
    }

    .navCenter.open {
        max-width: 440px;
        width: 100%;
        z-index: 9999;
    }


    .navCenter.close {
        transform: translateX(-250px);
    }

    .navLeft {
        display: flex;
        align-items: center;
        gap: 15px;
        /* width: 100%; */
    }

    .barIcon {
        display: block;
        cursor: pointer;
    }
}